
.blockers {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: left;
    width:100%;
}

#totals {
    background-color: #DDDDDD;
    height: 95px;
}


#bug_list {
    padding: 0 0 0 30px;
    margin-top: 50px;
}

.blocker {
    color:white;
    display: inline-block;
    font-weight: normal;
    padding: 10px;
    text-align: center
}



tr.selected {
    background-color: #fafaba;
}

.hoverable:hover {
	background-color: #fafaba;
    cursor: pointer;
}

.selected {
    background-color: #00a1c0;
}

.selected:hover {
    background-color: #00c1e6
}


.table td {
    padding: 0;
}

.table th div, .table td div, .table th span, .table td span {
    padding: 3px 20px 3px 0;
    font-size: 0.8em;
}

.indicator, .table tbody td .indicator {
    display:inline-block;
    width:15px;
    height:15px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.table td div.email {
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
    width: 100px;
    padding-right: 5px;
}

.bz_component {
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    width: 80px;
}

.desc {
    width: auto;
    padding-top: 8px;
    max-height: 3em;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1em
}


#teamsTable {
    /*margin-left:-160px;  *//*100 +20 +20 (see .train_title)*/
}

.train_title {
    vertical-align: middle;
    text-align: right;
    width: 100%;

    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 100%;
    margin: 0;

}

.component {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:black;
    display: inline-block;
    padding: 10px 10px 0;
    text-align: center;
}

.componentowner {
    color:black;
    font-weight: bold;
    font-size: 70%;
    font-style: italic;
    padding: 0 10px 0px;
}

.componentmanager {
    color:black;
    font-weight: bold;
    font-size: 70%;
    font-style: italic;
    padding: 0 10px 0px;
}

.project {
    background-color: gray;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    color:white;
    display: inline-block;
    font-weight: normal;
    padding: 5px 0 5px 0;
    text-align: center;
    width: 70px;
    height:60px;
    margin: 2px;
}

.release{
    margin-top: -3px;
    width:100%;
    padding: 0 0 0 0;
    white-space: nowrap;
}


.count {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color:white;
    padding: 8px 0 0 0;
    font-size: 250%;
    font-weight: bold;
}

.table thead th div, .table thead th span {
    display: inline-block;
}

.content{
    display: block;
    padding: 0 0 0 0;
    top:0;
    margin-left: 0px;
    vertical-align: top
}




.table thead th .indicator {
    display:block;
    width:15px;
    padding-right: 0;
    text-align: center;
    transform: rotate(270deg);
    line-height: 15px;
}

#sorttable_sortfwdind, #sorttable_sortrevind {
    display: block;
    padding: 0;
}


.unassigned{
    position: absolute;
    right:0;
    bottom:0;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 40px 40px;
    border-color: transparent transparent #000000 transparent;

}
.category {
    font-size: 150%;
}



.sidebar_name div{
    position: absolute;
    top: 40px;
    right: -73px;
    height: 18px;
    width: 180px;
    -moz-transform: rotate(270deg);
    /*color: white;*/
    color: #dddddd;

    font-size: 18px;
}





/*for the grid dashboard*/
table.grid td div.small_unassigned {
    position: absolute;
    right:0;
    bottom:0;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent #000000 transparent;
    margin: 0;
    padding: 0;
    vertical-align:baseline;
}

.count:hover {
    color:white;
}

.count_unassigned {
    position: absolute;
    right:3px;
    bottom:-37px;

    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color:white;
    font-size: 100%;
    font-weight: normal;
}

.count_unassigned:hover {
    color:white;
    font-weight: bold;
}


.lost {
    position: absolute;
    right:0;
    top:0;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 40px 0;
    border-color: transparent #000000 transparent transparent;
}

.count_lost {
    position: absolute;
    right:-37px;
    top:3px;

    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color:white;
    font-size: 100%;
    font-weight: normal;
}

.count_lost:hover {
    color:white;
    font-weight: bold;
}


.go-to-bugzilla {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
    /*border: 1px solid transparent;*/
    position: absolute;

    border-radius: 4px;
    right: 20px;
    bottom: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
}


#noms {
    background-color: #56C5FF;
}
#triage {
    background-color: #008287;
}
#blockers {

}
